/* navbar  */



#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

#home h1{
    width: 352px;
}

#home p{
    width: 274px;
}

/* clients */

#clients{
    /* flex-wrap: wrap; */
  /* align-items: center; */
  flex-direction: column;
 

 }

 .item p{
    /* text-align: center; */
 }

